################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Windows/Win32/.vs/Win32/v16
/Windows/Win32/Console/Debug
/Windows/Win32/Debug
/Windows/Win32/Win32_Interface/Debug
/Windows/Win32/Win32_Debug/Debug/Win32_Debug.tlog
/Windows/Win32/Win32_Debug/Debug
