################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Core/Windows/Win32/.vs/Win32/v16
/Core/Windows/Win32/Console/Debug
/Core/Windows/Win32/Debug/*.exe 
/Core/Windows/Win32/Debug/*.pdb
/Core/Windows/Win32/Debug/*.idb
/Core/Windows/Win32/*/Debug

/Core/Example/ExampleWin/.vs
/Core/Example/ExampleWin/Debug
/Core/Example/ExampleWin/*/Debug
/Core/SDL_Test/SDL_Test/.vs/SDL_Test/v16
/Core/SDL_Test/SDL_Test/*/x64/Debug
/Core/SDL_Test/SDL_Test/x64/Debug
/Core/Core/Core/.vs/Core/v16
