################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Windows/Win32/.vs/Win32/v16
/Windows/Win32/Console/Debug
/Windows/Win32/Debug/*.exe 
/Windows/Win32/Debug/*.pdb
/Windows/Win32/Debug/*.idb
/Windows/Win32/*/Debug

/Example/ExampleWin/.vs/ExampleWin/v16
/Example/ExampleWin/Debug
/Example/ExampleWin/Win32Star/Debug
